@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
    --bg: #18181b;
    --txt: #fdfdfd;
    --secDark: #7bbf15;
    --blk: #9FA3A6;
}

* {
    color: var(--txt);
    font-family: "Spartan", sans-serif;
}

body {
    background-color: #18181b;
}

#pre-loader {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--bg);
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pre-loader img {
    opacity: 0;
    position: relative;
    /* height: 50%; */
    width: 30%;
    color: var(--bg);
    -webkit-text-stroke: .1vw var(--secDark);
    /* text-transform: uppercase; */
}

#shine {
    content: " ";
    width: 10%;
    height: 30%;
    background-color: var(--txt);
}

img {
    animation: animate 6s linear infinite;
}

@keyframes animate {
    0%,
    10%,
    100% {
        opacity: 0;
        /* width: 0%; */
    }
    70%,
    90% {
        opacity: 1;
        /* width: 100%; */
    }
}