@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
    --bg: #fffcff;
    --txt: #0b1725;
    --secDark: #0b1725;
    --secLight: #C8C9CD;
    --blk: #9FA3A6;
}

* {
    color: var(--txt);
    font-family: "Spartan", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--bg);
}

h2 {
    position: relative;
    font-size: 8vw;
    color: var(--bg);
    -webkit-text-stroke: 0.3vw var(--secLight);
    text-transform: uppercase;
}

h2::before {
    padding: 0;
    margin: 0;
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    color: var(--txt);
    -webkit-text-stroke: 0;
    border-right: 2px solid var(--txt);
    overflow: hidden;
    animation: animate 6s linear infinite;
}

@keyframes animate {
    0%,
    10%,
    100% {
        /* opacity: 0; */
        width: 0%;
    }
    70%,
    90% {
        /* opacity: 1; */
        width: 100%;
    }
}